.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
}

.card {
	width: 40%;
	border-radius: 8px;
}
.card > * > * {
	margin: 1rem;
}
.heading {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
